<div>
    <h1>You Searched For : Stuff</h1>
    <h1>You Searched For : <%= data.userQuery %></h1>
    <% if(data.loggedIn){ %>
        <h2> You are logged in as : <%= data.username %> </h2>
        <% } %>
    }
    <ul>
        <li>dummy data</li>
        <li>dummy data</li>
        <li>dummy data</li>
        <li><%= data.searchResults[0]></li>
        <li><%= data.searchResults[1]></li>
        <li><%=data.searchResults[2]></li>
        <% data.searchResults.forEach(results=>{ %>
            <li> <%= result %> </li>
        <% }); %>
    </ul>
</div>